[Unit]
Description=tcpecho_ipv6-1
After=network.target

[Service]
Type=simple
ExecStart=/opt/twamp/tcpecho_ipv6-1
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/twamp
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
