[Unit]
Description=TWAMP Responder Service
After=network.target

[Service]
ExecStart=/opt/twamp/twampy responder "[::]:868" --padding 512
WorkingDirectory=/opt/twamp
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
